<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#여러-파일을-한번에-로드하는-방법" data-toc-modified-id="여러-파일을-한번에-로드하는-방법-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>여러 파일을 한번에 로드하는 방법</a></span></li></ul></div>

In [1]:
%pwd

'/Users/jhpark/파이썬으로_시작하는_데이터_사이언스'

In [2]:
import os
os.getcwd()

'/Users/jhpark/파이썬으로_시작하는_데이터_사이언스'

In [23]:
from glob import glob   #glob: 유닉스 스타일 경로

file_name = glob("data/*.csv")[0]
file_name

'data/도로교통공단_월별 주야별 교통사고 통계_20211231.csv'

In [4]:
import pandas as pd

* 이름 오타걱정되면: pd.read_csv(file_name, encoding="cp949")

In [5]:
pd.read_csv("data/도로교통공단_월별 주야별 교통사고 통계_20211231.csv", encoding="cp949")  
#파일 하나만 있을 땐 data/tab키 누르면됨

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8821   107  2421   9631     707
1     1  야   6088    90  1627   6510     427
2     2  주   8756   107  2468   9681     670
3     2  야   5755    96  1572   6286     483
4     3  주  10274   128  2787  11163     820
5     3  야   6326    81  1775   6859     524
6     4  주  11032   119  3105  11935     819
7     4  야   6371    93  1878   6887     518
8     5  주  11025   154  3010  12132     922
9     5  야   6353   101  1762   6779     520
10    6  주  11310   124  3286  12244     865
11    6  야   6265   103  1733   6593     569
12    7  주  11408   139  3132  12435     892
13    7  야   6586   115  1829   7024     558
14    8  주  10407   129  2878  11541     854
15    8  야   6011   118  1638   6365     506
16    9  주  10869   131  2959  11885     856
17    9  야   6143   115  1747   6299     506
18   10  주  11229   156  3064  12129     882
19   10  야   7071   156  1935   7732     565
20   11  주  11223   163  3124  11890     922
21   11  야   6873   122  1884   7284     602
22   12  주  10318   149  2658  10936     916
23   12  야   6616   120  1633   7063     517

## 여러 파일을 한번에 로드하는 방법

In [18]:
file_csv = glob("data/store/*.csv")    #glob("data/store/*_*_*.csv")
file_csv

['data/store/소상공인시장진흥공단_상가(상권)정보_부산_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_대구_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_세종_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_제주_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_경기_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_울산_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_서울_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_대전_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_충남_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_충북_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_강원_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_광주_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_인천_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_전남_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_경남_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_경북_202212.csv',
 'data/store/소상공인시장진흥공단_상가(상권)정보_전북_202212.csv']

In [8]:
pd.read_csv(file_csv[0])

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23206623,미광장,NaN,O,숙박,O02,모텔/여관/여인숙,O02A01,모텔/여관/여인숙,I55112,...,2611012600100250001004473,NaN,부산광역시 중구 보수대로44번길 5,600074,48974.0,NaN,NaN,NaN,129.023668,35.100979
1,20418637,BHC치킨,동래점,Q,음식,Q05,닭/오리요리,Q05A08,후라이드/양념치킨,I56193,...,2626010500101850000016529,NaN,부산광역시 동래구 동래로147번길 18,607020,47802.0,NaN,NaN,NaN,129.087156,35.205267
2,24659633,스텔라,NaN,D,소매,D05,의복의류,D05A01,일반의류,G47416,...,2650010500101480004001694,비치아파트,부산광역시 수영구 광안해변로 100,613751,48305.0,NaN,NaN,NaN,129.115397,35.143770
3,17174094,도란도란,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2623011100101740004050547,NaN,부산광역시 부산진구 가야대로482번길 29-3,614813,47327.0,NaN,NaN,NaN,129.024938,35.151645
4,21683903,럭키사진관,NaN,F,생활서비스,F06,사진,F06A01,사진관,M73301,...,2638010200103250030010858,NaN,부산광역시 사하구 낙동대로 395,604830,49411.0,NaN,1,NaN,128.974794,35.102905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162555,19076189,리오마죠레,NaN,F,생활서비스,F01,이/미용/건강,F01A01,여성미용실,S96112,...,2635010300116320000000001,아시아선수촌프레스센터상가,부산광역시 해운대구 반여로 131,612061,48037.0,NaN,1,NaN,129.123373,35.203476
162556,19076390,메이미래쉬,NaN,F,생활서비스,F01,이/미용/건강,F01A03,비만/피부관리,NaN,...,2644011400111900002000002,NaN,부산광역시 강서구 과학산단로334번다길 60,618210,46743.0,NaN,1,NaN,128.835928,35.149797
162557,19077180,크라운호프,부산학장점,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,2653010700201450017006118,NaN,부산광역시 사상구 대동로 111,617846,47050.0,NaN,3,NaN,128.979739,35.139354
162558,19077185,가배원커피,당리점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,2638010300106230017000001,NaN,부산광역시 사하구 낙동대로 413,604848,49410.0,101,1,NaN,128.973045,35.103424
162559,19078983,덴텍스,NaN,D,소매,D03,종합소매점,D03A05,수입품판매점,G47190,...,2611010800100230000006805,경보이리스오션더스타,부산광역시 중구 대교로 133,600015,48943.0,NaN,NaN,NaN,129.037433,35.101818

In [10]:
file_list = []
for file_csv_name in file_csv:
    print(file_csv_name)
    temp = pd.read_csv(file_csv_name, low_memory=False)
    file_list.append(temp)

data/store/소상공인시장진흥공단_상가(상권)정보_부산_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_대구_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_세종_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_제주_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_경기_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_울산_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_서울_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_대전_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_충남_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_충북_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_강원_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_광주_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_인천_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_전남_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_경남_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_경북_202212.csv
data/store/소상공인시장진흥공단_상가(상권)정보_전북_202212.csv

In [14]:
len(file_list)

17

In [15]:
df = pd.concat(file_list)
df.shape

(2532877, 39)

* 17개의 file을 각각의 data frame으로 읽음 -> list안에 넣음 -> concat으로 합침

* pd.concat() > column 명이 같다면 하나의 data frame으로 합침

In [16]:
df.tail()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
116386,19075208,동인심리상담center,NaN,D,소매,D02,선물/팬시/기념품,D02A02,꽃집/꽃배달,G47851,...,4511112900100230035026753,NaN,전라북도 전주시 완산구 백제대로 394,560818.0,54941.0,NaN,2,NaN,127.123165,35.828304
116387,19077390,학원,올리바,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,4514011100102050003072950,NaN,전라북도 익산시 서동로24길 31-30,570958.0,54607.0,NaN,NaN,NaN,126.962503,35.930637
116388,19078173,싹독,NaN,D,소매,D09,애견/애완/동물,D09A02,애완동물 미용실,S96995,...,4514012300106350007058639,하우스가든,전라북도 익산시 하나로8길 2,570210.0,54553.0,NaN,NaN,NaN,126.982744,35.959597
116389,19079588,이마트,24정읍센트럴점,D,소매,D03,종합소매점,D03A01,편의점,G47122,...,4518010400101050005010679,시기동영무예다음아파트,전라북도 정읍시 시기4길 42,580063.0,56204.0,114,NaN,NaN,126.862016,35.556156
116390,19080582,디엔디,NaN,F,생활서비스,F07,물품기기대여,F07A02,오락/스포츠용품대여,L69210,...,4573032029105820000000990,NaN,전라북도 무주군 설천면 만선로 45,568811.0,55555.0,NaN,NaN,NaN,127.755954,35.909004

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2532877 entries, 0 to 116390
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     int64
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      int64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      int64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      float64
 33  신우편번호      float64
 34  동정보        object
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(7), int64(10), object(22)
memory usage: 773.0+ MB